.clickplusTop{
		position:absolute;
		top:0;
		width:100%;
		height:70px;
		background:#008CED;
	}

/* .logo{
		width:150px;
		height:65px;
		float:left;
		background-image: url(../public/images/logo.png) no-repeat left center ;
		background-size:100%;
	} */
ul{
		color:#ffffff;
		list-style-type:none
		

	}

li{
		width:100px;
		height:55px;
		float:left;
		list-style:none
	}

link{
	 text-decoration: none;
}
.ClickplusContent{
	width:100%;
	height:auto;
	padding:10px;
	margin-top:70px;
}